# Ignore Maven target directory
/ecom/target/

# Ignore IntelliJ IDEA project files
/ecom/.idea/
/ecom/*.iml

/data/

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variable files
.env